
@import "https://fonts.googleapis.com/css?family=Lato";

*{
  color: #333;
  padding: 0;
  margin: 0;
}
body{
  background: #FAFAFA;
}
h1{
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  padding: 20px 0;
}
#pageWrap{
  width: 70%;
  margin: 0 auto;
}
#root{
}
.card{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #999;
}
.tableHeaderCont{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  border-bottom: 1px solid #999;
  font-family: 'Lato', sans-serif;
  background: #186c92;
}
.card:nth-child(even) {
    background: #EEE;
}
.tableItem{
  font-size: 0.8rem;
  font-family: 'Lato', sans-serif;
  width: 8%;
  text-align: left;
}
.tableClub{
  font-size: 0.8rem;
  font-family: 'Lato', sans-serif;
  width: 28%;
  text-align: left;
}
.headerP{
  width: 8%;
  text-align: left;
  color: #FAFAFA;
}
.headerClub{
  width: 28%;
  text-align: left;
  color: #FAFAFA;
}
#fixCont{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.fixtureCard{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #999;
  border-radius: 5px;
  width: 36%;
  flex-grow: 1;
  margin: 5px;
  height: 80px;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
}
.fixHead{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  background: #186c92;
  color: #FAFAFA;
}
.fixMain{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.fixtureTeam{
  padding: 20px;
}
.teamBadge{
  width: 50px;
  height: 50px;
}
