@import url('https://fonts.googleapis.com/css?family=Lato');

*{
  color: #FFF;
  padding: 0;
  margin: 0;
}
body{
  background: #333;
}
h1{
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  padding: 20px 0;
}
#root{
  width: 100%;
}
#pageWrap{
  width: 70%;
  margin: 0 auto;
}
.card{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #999;
}
.tableHeaderCont{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: 600;
  border-bottom: 2px solid #999;
  font-family: 'Lato', sans-serif;
}
.card:nth-child(even) {
    background: #666;
}
.tableItem{
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  width: 10%;
  text-align: left;
}
.headerP{
  width: 10%;
  text-align: left;
}
