@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Oswald:200,300,400,500,600,700');

.enterFormContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #DDDDDD;
  width: 70%;
  height: 100vh;
  align-self: flex-end;
  background: #FAFAFA;
}
.loginForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  min-width: 180px;
}
.loginForm a{
  color: #186c92;
  font-size: 0.8rem;
}
.loginForm p{
  font-size: 0.8rem;
  padding: 6px 0;
}
.inputContainer{
  width: 100%;
  display: flex;
  padding: 8px 0;
  margin: 10px 0;
}
.icoCont{
  width: 50px;
  height: 50px;
  background: #186c92;
}
.inputField{
  height: 48px;
  flex-grow: 2;
  border: 0;
  border-bottom: 2px solid #186c92;
  background: none;
  padding: 0 8px;
}
.submitButton{
  padding: 12px;
  width: 100%;
  margin: 10px 0;
  border: none;
  font-family: 'Oswald', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: #FAFAFA;
  background: #186c92;
  cursor: pointer;
}
.submitButton:hover{
}
h2{
  font: 300 1.4rem 'Oswald', sans-serif;
  color: #666;
  padding: 12px 0;
}
