*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #186c92;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
a{
  text-decoration: none;
  color: inherit;
}
